PUBMED_API_KEY=96fbcb483eba695282324bb2540598df2808
SAMBANOVA_API_KEY=6a4ba5ba-98da-4d8e-ad3f-58e3b4801a82
SAMBANOVA_URL=https://api.sambanova.ai/v1/chat/completions
SAMBANOVA_MODEL=Meta-Llama-3.3-70B-Instruct
